

body{
			background: url(Imagenes/fondo.jpg);
		}
	span{
				color: #00C1FF;
				font-weight:bold;
}

	p{
			font-family: Helvetica, Arial;
			color: #5B5B5B;
			padding-bottom: 20px;
			padding-top: 20px;
			background-color: white;
			}
	h2{
			font-family: fantasy, Helvetica, Arial;
			color: #00C1FF;
			font-size: 18px;
			padding-right: 20px;
			padding-left: 20px;
			}
			
	a{
			font-family: fantasy, Helvetica, Arial;
			font-size: 45px;
			color:#FFFFFF;
			font-weight:bold;
			text-align:center;
			padding-top: 40px;
			text-decoration:none; 
	}
	
	a:hover {
			color:#00C1FF;
			} 
